@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz,wght@8..60,400;8..60,500;8..60,600;8..60,700&family=IBM+Plex+Sans:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 0;
}

.tb-row-actions {
  opacity: 0;
}
@media (hover: hover) {
  .tb-row:hover .tb-row-actions {
    opacity: 1;
  }
}
